<div class="container m-3 player">

    
        <app-music-progress (changeP)= "changePos($event)"></app-music-progress>
        
            <div class="row">
                <div class="col-2">
        
                </div>
                <div class="col-7">
                    {{musics.artist}} {{musics.title}}
                </div>
            </div>
            <div class="row">
        
                <div class="col-1">
                    <i class="fa fa-step-backward" aria-hidden="true" (click)="previous()"></i>
                </div>
                <div class="col-1">
                    <i *ngIf='paused == false' class="fa fa-play" aria-hidden="true" (click)="playAudio()"></i>
                    <i *ngIf='paused == true' class="fa fa-pause" aria-hidden="true" (click)='pause()'></i>
                </div>
                <div class="col-1">
                    <i class="fa fa-step-forward" aria-hidden="true" (click)="next()"></i>
                </div>
        
            </div>
            {{elapsed | formatime}} / {{ duration | formatime}}
        </div>