<!-- boucle *ngFor du tableau likes pour afficher tous les likes -->
<h1>Mes favoris</h1>
<div class="col-12">
        <div class="row">
            <div class="col-3" *ngFor="let element of tabLikes">
                <div class="image"><img src="{{element.image}}" /></div>
                <div class="text">{{element.title}}</div>
                <div class="text">{{element.chanteur}}</div>
                <p><i class="fa fa-heart like" aria-hidden="true"></i>&nbsp;
                    <i class="fa fa-retweet hover" aria-hidden="true"></i>&nbsp;
                    <i class="fa fa-bookmark hover" aria-hidden="true"></i>&nbsp;
                    <i class="fa fa-external-link hover" aria-hidden="true"></i>&nbsp;
                    <i class="fa fa-clipboard hover" aria-hidden="true"></i></p>&nbsp;
                <div class="style">{{element.style}}</div>
            </div>
        </div>
    </div>
